* {
    font-family: 'Raleway', sans-serif;
}

.container {
    display: none;
    position: absolute;
    margin: auto;
    width: 550px;
    height: 950px;
    background-color: rgba(0, 0, 0, 0.863);
    border-radius: 25px;
}

.head {
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #9c02f5;
    width: 100%;
    height: 225px;
    border-radius: 25px 25px 0 0;
}

.icon {
    position: relative;
    top: 25px;
    height: 175px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.close {
    position: relative;
    width: 25px;
    top: 15px;
    right: 15px;
    float: right;
}

.one-bar {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 400px;
    height: 50px;  
    position: relative;
    top: 20px;
    border-radius: 50px;

    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 25px;
}

.choose-label {
    position: relative;
    color: white;
    font-size: 21px;
    text-align: center;
    margin-top: 55px;
}

.content-choose {
    display: none;
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
    top: 100px;
}

.weapon-gun {
    display: inline-block;
    position: relative;
    background-color: rgb(54, 54, 54);
    width: 200px;
    height: 280px;
    top: 75px;
    border-radius: 15px;
}

.weapon-gun-image {
    position: relative;
    width: 150px;
    text-align: center;
    display: block;
    left: 25px;
    top: 60px;
}

.hand-gun {
    display: inline-block;
    position: relative;
    background-color: rgb(54, 54, 54);
    width: 200px;
    height: 280px;
    top: 75px;
    border-radius: 15px;
    left: 40px;
}

.hand-gun-image {
    position: relative;
    width: 150px;
    text-align: center;
    display: block;
    left: 25px;
    top: 60px;
}

.content-weapon-list {
    display: none;
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 65%;
    top: 50px;
    overflow-y: auto;
}

.content-weapon-list::-webkit-scrollbar {
    width: 10px;
    height: 15px;
}

.content-weapon-list::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.content-weapon-list::-webkit-scrollbar-thumb {
    background-color: #e74c3c;
    border-radius: 20px;
      -webkit-box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;
}

.content-weapon-list-weapon {
    position: relative;
    width: 200px;
    height: 250px;
    background-color: rgb(54, 54, 54);
    border-radius: 15px;
    display: inline-block;
    margin: 5px;
    margin-bottom: 30px;
}

.content-weapon-list-weapon-footer {
    position: absolute;
    width: 100%;
    height: 45px;
    background-color: #e74c3c;
    top: 205px;
    border-radius: 0px 0px 15px 15px;
}

.content-weapon-list-weapon-footer p {
    position: relative;
    color: white;
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
    bottom: 175px;
}

.content-weapon-list-weapon-image {
    position: relative;
    width: 160px;
    left: 25px;
    bottom: 185px;
}



.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }